.commentaire {
    margin: 3px;
    padding: 8px 3px;
    background-color: #573280;
    border-radius: 2px;

    &__top {
        display: flex;
        justify-content: space-between;
        
        i {
            font-size: 0.8rem;
            margin: 0px 5px;
            cursor: pointer;

            &:hover {
                color: #ADA8B6;
                transition: color 200ms ease-in-out;
            }
        }

        &__pseudo {
            font-size: 1rem;
            color: #f2f2f2;
        }
    }

    hr {
        margin: 5px 0;
    }

    &__content {
        font-size: 0.8rem;
        color: #f2f2f2;
        overflow-wrap: break-word;
    }

    .commentaire-edit {
        position: relative;
        
        &__overlay {
            position: absolute;
            right: 4%;
            bottom: 1%;
            z-index: 5;
            width: 92%;
            height: 50px;
            background: #f2f2f2;
            border-radius: 5px;
            box-shadow: 0px 0px 5px black;

            &__box {
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                height: 100%;

                &__close {
                    position: absolute;
                    right: 5px;
                    top: 8px;
                    color: #150E0E;
                }

                &__input {
                    width: 90%;
        
                    input {
                        width: 80%;
                        padding: 8px 5px;
                        border: none;
                        font-size: 0.7rem;
        
                        &:focus {
                            outline: none;
                        }
                    }
        
                    button {
                        padding: 6px 8px;
                        color: #f2f2f2;
                        background-color: #573280;
                        border: none;
                        cursor: pointer;
        
                        &:hover {
                            background: #6e469c; 
                            transition: all 200ms ease-in;  
                        }
                    }
        
                    &:focus {
                        border: solid 4px #fff;
                    }
                }
            }
        }
    }
}

// MEDIA QUERY // 

@media screen and (max-width: 768px) {
    .commentaire__top {
        &__pseudo {
            font-size: 0.8rem;
        }
        
        i {
            font-size: 0.65rem;
        }
    }
    
    .commentaire__content {
        font-size: 0.6rem;
    }
}

@media screen and (max-width: 520px) {
    .commentaire {
        margin-bottom: 8px;
        padding: 8px 5px;

        .commentaire__top__pseudo {
            margin-top: -2px;
        }

        .commentaire__content {
            margin-top: 2px;
        }
    }
}

@media screen and (max-width: 425px) {
    .commentaire {
        .commentaire-edit__overlay {
            width: 96%;
            height: 40px;
            right: 2%;
            border-radius: 0px;
        }
    }
}