.navhome__open {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: #573280;
    height: 80vh;
    width: 50%;
    padding-bottom: 20px;

    &__profile {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 80px;
        left: 20%;
        background-color: #573280;
        width: 150px;
        height: 150px;
        border-radius: 100%;
        cursor: pointer;

        &__pseudo {
            font-size: 22px;
            margin-top: 220px;
            color: #EFF8E2;
            z-index: 3;
        }

        &__img {
            position: absolute;
            max-width: 100%;
            width: 100%;
            height: auto;
            border-radius: 100%;
            border: solid 8px #23022E;
        }
    }

    &__icon {
        position: absolute;
        right: 10%;
        top: 5%;
        font-size: 30px;
        color: #EFF8E2;
        cursor: pointer;

        &:hover {
            color: #150E0E;
            transition: color 200ms ease-in-out;
        }
    }

    &__paragraphe {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5px;

        &__text {
            font-weight: bold;
            font-size: 1.2rem;
            padding: 0px 5px;
            cursor: pointer;
            color: #EFF8E2;

            &:hover {
                color: #23022E;
                transition: all 200ms;
            }
        }


        &__box {
            display: flex;
            justify-content: center; 
            margin: 10px 0px;

            &__btn {
                padding: 5px 10px;
                cursor: pointer;
                margin: 0 15px;
                border: solid 2px #23022E;
                border-radius: 2px;
                font-weight: bold;

                &:hover {
                    color: #f2f2f2;
                    background-color: #563280;
                    transition: all 200ms ease-in-out;
                }

            }         
        }

        &__form {
            display: flex;
            flex-direction: column;

            & div {
                display: flex;
                justify-content: space-around;

                .navhome__open__paragraphe__form__btn {
                    padding: 5px 10px;
                    cursor: pointer;
                    margin: 10px 5px;
                    border: solid 2px #23022E;
                    border-radius: 2px;
                    font-weight: bold;
                    font-size: 0.7rem;
    
                    &:hover {
                        color: #f2f2f2;
                        background-color: #563280;
                        transition: all 200ms ease-in-out;
                    }
                }
            }
        }
    }

    &:hover {
        background-color: #563280ef;
        transition: all 200ms ease-out;
    }

    #changefile {
        display: none;
    }
}

.navhome__close {
    position: relative;
    width: 100px;
    height: 100px;
    margin-left: -55px;
    margin-top: 50%;
    background: #573280;
    border-radius: 50%;
    color: #150E0E;


    .fa-arrow-right {
        font-size: 1.4rem;
        position: absolute;
        right: 20%;
        top: 40%;
    }

    &:hover {
        margin-left: -45px;
        color: #f2f2f2;
        cursor: pointer;
        transition: all 300ms ease-in;
    }
}

// MEDIA QUERY // 

@media screen and (max-width: 930px) {
    .navhome__open {
        width: 40%;

        &__profile {
            left: 20%;
            width: 120px;
            height: 120px;
        }

        &__icon {
            font-size: 1.5rem;
        }

        &__paragraphe__text {
            font-size: 1.2rem;
        }
    }
}

@media screen and (max-width: 768px) {
    .navhome {
        position: absolute;
        top: 0;
        right: 0;
        &__open {
            position: fixed;
            top: 0;
            left: 0;
            justify-content: space-around;
            height: 100vh;
            width: 100vw;
            z-index: 10;

            &__profile {
                position: initial;
                width: 200px;
                height: 200px;

                &__pseudo {
                    margin-top: 235px;
                }

                &__img {
                    width: 200px;
                    height: 200px;
                }
            }

            &__paragraphe__text {
                margin-bottom: 20px;
            }

            .navhome__open__paragraphe__box {
                margin-top: 0;
            }

            &:hover {
                background-color: #573280;
            }
        }

        &__close {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            width: 50px;
            margin: 0;
            border-radius: 0px;
            border-bottom-right-radius: 3px;
            transform: rotate(90deg);

            .fa-arrow-right {
                position: initial;
            }

            &:hover {
                margin-top: 0;
            }
        }
    }
}

@media screen and (max-width: 425px) {

    .navhome__open {
        &__paragraphe__text {
            margin-bottom: 0px;
            margin-top: 5px;
        }
    }

    .navhome__close {
        margin-top: -15%;
    }
}