.navhome__open {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: #573280;
    height: 700px;
    padding-bottom: 20px;

    &__profile {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 80px;
        left: 20%;
        background-color: #573280;
        width: 150px;
        height: 150px;
        border-radius: 100%;
        border: solid 5px #23022E;

        &__pseudo {
            font-size: 20px;
            color: #EFF8E2;
        }
    }

    &__icon {
        position: absolute;
        right: 10%;
        top: 5%;
        font-size: 30px;
        color: #EFF8E2;
        cursor: pointer;

        &:hover {
            color: #150E0E;
            transition: color 200ms ease-in-out;
        }
    }

    &__paragraphe {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5px;

        &__text {
            font-weight: bold;
            font-size: 1.4rem;
            cursor: pointer;
            color: #EFF8E2;

            &:hover {
                color: #23022E;
                transition: all 200ms;
            }
        }


        &__box {
            display: flex;
            justify-content: center; 
            margin: 10px 0px;

            &__btn {
                padding: 5px 10px;
                cursor: pointer;
                margin: 0 15px;
                border: solid 2px #23022E;
                border-radius: 2px;
                font-weight: bold;

                &:hover {
                    color: #f2f2f2;
                    background-color: #563280;
                    transition: all 200ms ease-in-out;
                }

            }         
        }
    }

    &:hover {
        background-color: #563280ef;
        transition: all 200ms ease-out;
    }
}

.navhome__close {
    position: relative;
    width: 100px;
    height: 100px;
    margin-left: -50px;
    margin-top: 100%;
    background: #573280;
    border-radius: 50%;
    color: #150E0E;


    .fa-arrow-right {
        font-size: 1.4rem;
        position: absolute;
        right: 20%;
        top: 40%;
    }

    &:hover {
        margin-left: -45px;
        color: #f2f2f2;
        cursor: pointer;
        transition: all 300ms ease-in;
    }
}