.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 19, 19, 0.7);
    z-index: 10;

    &__box {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 80%;
        height: 80%;
        background-color: #f8f7f7;
        border-radius: 3px;

        .closeOverlay {
            position: absolute;
            top: 3%;
            right: 3%;
            font-size: 2.2rem;
            cursor: pointer;

            &:hover {
                color: #573280;
                transition: color 200ms ease-in-out;
            }
        }

        #formPublier {
            display: flex;
            flex-direction: column;
            text-align: center;
            width: 60%;

            label {
                font-size: 1.7rem;
                font-weight: bold;
                margin-bottom: 10px;
                text-transform: uppercase;
            }

            input {
                margin-bottom: 50px;
                padding: 10px;
                height: 50px;
                border: solid 5px #150E0E;
                border-radius: 3px;
                font-size: 1.2rem;

                &:focus {
                    border: solid 5px #573280;
                }
            }

            .error-message {
                font-size: 1.2rem;
                text-align: center;
                margin-bottom: 10px;
                margin-top: -20px;
            }

            button {
                position: relative;
                padding: 10px;
                border-radius: 3px;
                font-size: 1.7rem;
                background-color: #150E0E;
                border: solid 5px #150E0E;
                overflow: hidden;

                & span {
                    position: relative;
                    z-index: 2;
                    color: #EFF8E2;
                    transition: color 0.3s ease-in-out;
                }
                
                &::after {
                    content: "";
                    position: absolute;
                    top: 0px;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #573280;
                    transform: translateY(100%);
                    transition: transform 0.3s ease-in-out;
                }

                &:hover::after  {
                    transform: translateY(0%);
                }
            }

        }
    }

    button {
        cursor: pointer;
    }
}

// MEDIA QUERY // 

@media screen and (max-width: 768px) {
    .overlay__box {
        width: 90vw;
        #formPublier {
            width: 80%;
            label {
                font-size: 1.1rem;
            }

            input {
                font-size: 1rem;
            }

            button {
                font-size: 1rem;
            }
        }

        .closeOverlay {
            font-size: 1.5rem;
            top: 5%;
            right: 5%;
        }
    }
}

@media screen and (max-width: 425px) {
    .overlay__box {
        #formPublier {
            input {
                font-size: 0.8rem;
            }
        }
    }
}